html{
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    box-sizing: border-box;
}
section{
    padding: 1% 5%;
}
img{
    width: 100%;
}
.flex{
    display:flex;
}
#sec1-content{
    align-items: center;
    justify-content: center;
}
#logo{
    padding: 3%;
}
#first{
    background-image: url('firstbg.png');
    height: 80vh;
}
.nav{
    padding: 1% 1.5%;
    font-size: 1.75rem;
    text-align: center;
    width: 70%;
}
#fifth > .flex{
background-color: #f4511e;
padding: 1rem;
}

.navbar{
    border-bottom: 0.1rem solid white;
    align-items: center;
}
#left-text{
    font-size: 2.5rem;
    color: white;
    width: 50%;
    padding: 3%;
    margin: 0;
    font-weight: bold;
}
#chooser{
    margin-left: 6%;
}
.nav a{
color: white;
text-decoration: none;
font-weight: bold;
}
.nav a:hover{
    font-size: 1.8rem;
    text-decoration: underline;
}
select{
    outline: none;
    font-size: 1.5rem;
    border-right: 0.1rem solid gray;
    font-family: cursive;
}
.row-prop, .row{
    width: 100%;
    padding: 2% 0%;
    justify-content: space-between;
}
.perk{
    border-radius: 0.5rem;
    width: auto;
    height: 60%;
    display: block; 
    box-shadow: 0.2rem 0.2rem 0 0.2rem gray;
    padding: 3% 5%;
}
#perks{
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: auto;
}
.perks > div{
    width: 33%;
    padding: 1%;
}
.perk-text{
    font-size: 1.4rem;
    font-weight: bold;
}
#third{
    background-color: rgba(211,211,211,0.25)
}
.property{
    background-color: white;
    padding: 0 2%;
    border-radius: 0.5rem;
    width: 30%;
}
.address{
    font-weight: bold;
    font-size: 1.4rem;
    padding: 0 2%;
}
.type{
    font-weight: lighter;
}
.price{
    font-size: 1.3rem;
    color: #f4511e;
    font-weight: bold;
}
.prop{
    width: 50%;
    padding: 5%;
}
.pro{
    font-weight: bold;
    text-align: center;
}
.page{
    background-color: white;
    border: 0.2rem solid gray;
    width: 30%;
    margin: auto;
    border-radius: 0.5rem;
    justify-content: center;
}
input[type="file"]{
    opacity: 0;
    height:0;
}
#input-form{
text-align: center;
}
.property-feats{
    background-color: white;
    border: 0.05rem solid gray;
    justify-content: center;
    border-radius: 0.8rem;
    padding: 2%;
}
.page a{
    color: #f4511e;
    font-weight: bold;
    text-align: center;
    padding: 2%;
    border-right: 0.2rem solid gray;
}
a.active{
    background-color: #f4511e;
    color: white;
}
#feat1{
    background-image: url('flex-4.png');
}
.feat{
    color: white;
    font-weight: bold;
    background-repeat: no-repeat; 
    background-size: 100%;  
    border-radius: 3%;
    height: auto;
}
#feat2{
background-image: url('flexibility-section-img2.png');

}
#feat3{
    background-image: url('flex-3.png');
}
#feat4{
    background-image: url('flexibility-section-img1.png')
}
.bold{
    font-weight: bold;
    font-size: 1.5rem;
}
button{
    outline: none;
    border: none;
}
#orangeul{
    border-bottom: 0.3rem solid #f4511e;
    color: black;
    border-radius: 0.25rem;
}
.feat>p{
    text-align: center;
}
#features{
    width: 50%;
}
.hamburger span{
    width: 100%;
    background-color: white;
    height: 0.5rem;
    border-radius: 0.3rem;
    margin: 7%;
    display: block;
}
.hamburger{
    height: 100%;
    width: 5%;
    flex-direction: column;
    align-items: center;
    margin: auto;  
    display: none;

}
.feat-wrap{
    padding: 2%;
    display: flex;
    flex-direction: column ;
    width: 50%;
    height: 100%;
}
#button0{
    display: block;
}
#button1{
    display: none;
}
#experiment > p{
    line-height: 1.6rem;
}
#experiment{
    width: 50%;
}
#imgholder-2{
    width: 40%;
}
input, textarea{
    display: block;
    width: 100%;
    font-size: 1.25rem;
    background-color: rgba(190,190,190,0.25);
    outline: none;
    border: 0.2rem solid;
    border-color: rgba(190,190,190,0.25);
    border-radius: 0.5rem;
}
.center{
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}
span{
    color: #f4511e;
}
label{
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.75rem;
}
.column{
    padding: 0.5% 2%;
    width: 30%;
}
form{
    padding: 2% 3%;
    border: 0.15rem solid;
    box-shadow: 0.3rem 0.3rem rgba(190,190,190,0.25);
    border-color: rgba(190,190,190,0.25);
    margin: 1rem 0;
    border-radius: 0.75rem;
}
@media screen and (max-width: 768px){
    .nav{
        display: none;
    }
    .navbar{
        position: relative;
    }
    .hamburger{
        position: absolute;
        right: 0;
        top: 33%;
        width: 10%;
        display: block;
    }
    html{
        font-size: 10px;
    }
    .change{
        flex-direction: column;
    }
    #left-text{
        width: 100%;
        text-align: center;
    }
    #perks{
        margin: 0.95rem 0;
        width: 100%;
        justify-content: space-between;
    }
    #imgholder-2{
        width: 100%;
    }
    .row-prop{
        flex-direction: column;
    }   
    .property{
        width: 100%;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
    }
    .column{width: 100%;}
    #third > header{
        margin-bottom: 1.0rem;
    }
    #four{
        flex-direction: column-reverse;
    }
    #experiment{
        width: 100%;
        text-align: center;
    }
    #button0{
        display: none;
    }
    #button1{
        display: block;
        margin: auto;
        width: 40%;
    }
    #features{
        width: 100%;
    }
    .feat-wrap{
    flex-direction: row;
    }
}